# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.RabbitHeroku2.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\alesandro.fidelis\Documents\repositorios\rabbitMq-heroku-service2\RabbitHeroku2\.idea\.idea.RabbitHeroku2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
